@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1b5a32;
  --foreground: #000;
  --primary-color: #1b5a32;
  --secondary-color: #fbcc08;
  --tertiary-color: #c30809;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1b5a32;
    --foreground: #fff;
  }
}

html {
  scrollbar-width: none;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
