@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #14552b;
  --foreground: #fff;
  --primary-color: #14552b;
  --secondary-color: #f9c901;
  --tertiary-color: #c10001;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #14552b;
    --foreground: #fff;
  }
}

html {
  scrollbar-width: none;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  button {
    @apply inline-flex items-center justify-center px-5 py-5 border border-transparent text-base font-bold rounded-md bg-white/10 hover:bg-white/20 transition duration-300 ease-in-out w-full;
  }
}
